---
layout: layouts/default.liquid
title: Articles
permalink: "/posts/"
---

<div class="container px-5 pt-5 mt-5">
    <h1 class="title is-3">{{title}}</h1>
     
    <div class="blog-grid is-flex is-justify-content-flex-start is-flex-wrap-wrap">
        {% for post in collections.post reversed %}
            
            {% if post.data.featured_image %}
                {% assign image_path = post.data.featured_image | imgUrl: 320, 'jpeg' %}
            {% else %}
                {% assign image_path = "placeholder.jpg" | imgUrl: 320, 'jpeg' %}
            {% endif %} 

            <a href="{{post.url}}" class="box">
                <div style="background-image: url('{{image_path}}');" class="mt-1 my-3 featured-image"> </div>
                <h3 class="title is-5 is-spaced mb-3"> {{ post.data.title }} </h3>
                <p class="is-spaced"> {{ post.date | date: "%B %d, %Y" }} </p>
                <p>{% excerpt post %}</p>
            </a>
        {% endfor %}
    </div>

</div>
