---
layout: layouts/default.liquid
title: Articles
permalink: "/posts/"
---

<div class="container content px-5 pt-5 mt-5">
    <h2 class="title is-3">{{title}}</h2>
     
    <div class="blog-grid is-flex is-justify-content-space-between is-flex-wrap-wrap">
        {% for post in collections.post reversed %}
            
            {% assign randomizer = forloop.index | modulo: 5 %}
            

            {% if post.data.featured_image %}
                {% assign background = "/img/blog/" | append: post.data.featured_image %}
            {% else}
                {% assign background = "/img/blog/placeholder.jpg" %}
            {% endif} 
            
            {% assign background_position = '' %}
            {% if randomizer == 0 %}
                {% assign background_position = 'placeholder-center' %}
            {% elsif randomizer == 1 %}
                {% assign background_position = 'placeholder-left' %}
            {% elsif randomizer == 2  %}
                {% assign background_position = 'placeholder-right' %}
            {% elsif randomizer == 3  %}
                {% assign background_position = 'placeholder-bottom' %}
            {% elsif randomizer == 4  %}
                {% assign background_position = 'placeholder-top' %}
            {% endif %}

            <a href="{{post.url}}" class="box">
                <div style="background-image: url('{{background}}');" class="mt-1 my-3 featured-image {{background_position}}"> </div>
                <h3 class="title is-5 is-spaced mb-3"> {{ post.data.title }} </h3>
                <p class="is-spaced"> {{ post.date | date: "%B %d, %Y" }} </p>
            </a>
        {% endfor %}
    </div>

</div>
