---
layout: layouts/blog-base.liquid
permalink: "/posts/{{ title | slugify }}/"
---

<h1 class="title mt-5 is-3 is-spaced mb-3">{{title}}</h1>
<div class="featured-image mb-5">
    <div class="post-meta is-spaced mb-3">
        <span class="by-line">By Winston Jude </span>
        <span class="on ">on {{ date | date: "%B %d, %Y" }} </span>
    </div>
    <img src="/img/blog/{{featured_image}}" alt="{{title}}" class="image">
</div>
{{ content }} 