---
layout: layouts/default.liquid
title: Unfinished Notes
permalink: "/notes/"
---

<div class="container content px-5 pt-5 mt-5">
    <h2 class="title is-3">{{title}}</h2>

    <article class="message is-warning">
        <div class="message-body">
            <h3 class="is-size-6">Hey there! These notes are a work in progress.</h3>
            <p>They are intended to be just notes. Eventually I will turn them into posts.</p>
        </div>
    </article>

    <div class="blog-grid is-flex is-justify-content-flex-start is-flex-wrap-wrap">
        {% for post in collections.notes reversed %}
            
            {% if post.data.featured_image %}
                {% assign background = "/img/blog/" | append: post.data.featured_image %}
            {% else %}
                {% assign background = "/img/blog/placeholder.jpg" %}
            {% endif %} 

            <a href="{{post.url}}" class="box">
                <div style="background-image: url('{{background}}');" class="mt-1 my-3 featured-image"> </div>
                <h3 class="title is-5 is-spaced mb-3"> {{ post.data.title }} </h3>
                <p class="is-spaced"> {{ post.date | date: "%B %d, %Y" }} </p>
                <p>{% excerpt post %}</p>
            </a>
        {% endfor %}
    </div>

</div>
